/target
/.git
/.github/*
/.vscode
/.venv
/.pytest_cache
/.mypy_cache
/.ruff_cache
/artifacts
/coverage
/dist
/deploy
/docs/book
**/__pycache__
**/node_modules
**/test-results
**/playwright-report
*.env
!/.github/build-inputs.env
